body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: vollkorn;
  src: url(./assets/Vollkorn-Bold.ttf);
}


canvas {
  display: flex;
  align-self: center;
  margin: auto;
}

h1{
  color: #ff5722;
  text-align: center;
  font-family: vollkorn;
}

h2, h3 {
  color: #FFFF;
  font-size: 25px;
  text-align: center;
  font-family: vollkorn;
}


.gameTitle{
  width: 85%;
  height: 190px;
}

.gameTitleAfterEffect{
  width: 25%;
  height: 80px;
}

.customInput {
  width:250px;
  height:30px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color:transparent;
  font-size: 20px;
  outline:none;
  color:white;
  font-family: vollkorn;
  text-align: center;
}


.customButton {
  width:200px;
  height:60px;
  background-color: #fea834;
  border: 3px solid white;
  color: #FFFF;
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: vollkorn;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}

.leadersText{
  font-size: 20px;
  color: white;
  font-family: vollkorn;
  text-align: center;
}

.loginButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
